@using Vidly.Models
@model IEnumerable<Vidly.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produtos</h2>
<table id="products" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Produtos</th>
            <th>Valor</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@prod.Description</td>
                <td>@prod.Value</td>
                <td>
                    <button class="btn-link js-delete">Deletar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#products .js-delete").on("click", function() {
                if (confirm("Tem Certeza?")) {
                }
            });
        });
    </script>
}