@model IEnumerable<Vidly.Models.Customer>
@*
    
*@

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cliente</h2>
@if (!Model.Any())
{
    <p>Nenhum Cliente.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>CPF</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)</td>
                    <td>@customer.Cpf</td>
                </tr>
            }
        </tbody>
    </table>
}

